include neuropythy/lib/nben/target/nben-standalone.jar
include neuropythy/lib/models/v123.fmm.gz
include neuropythy/lib/models/lh.benson17.fmm.gz
include neuropythy/lib/models/rh.benson17.fmm.gz
include neuropythy/lib/projections/lh.occipital_pole.mp.json
include neuropythy/lib/projections/rh.occipital_pole.mp.json
include neuropythy/lib/data/fsaverage/surf/lh.benson14_angle.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/lh.benson14_sigma.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/lh.benson14_varea.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/lh.benson14_eccen.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.benson14_retinotopy.v4_0.sphere.reg
include neuropythy/lib/data/fsaverage/surf/lh.wang15_mplbl.v1_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.benson14_varea.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.benson14_eccen.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.wang15_mplbl.v1_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.benson14_angle.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.benson14_sigma.v4_0.mgz
include neuropythy/lib/data/fsaverage/surf/lh.benson14_retinotopy.v4_0.sphere.reg
include neuropythy/lib/data/fsaverage/surf/lh.rosenke18_vcatlas.v1_0.mgz
include neuropythy/lib/data/fsaverage/surf/rh.rosenke18_vcatlas.v1_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_angle.v2_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_angle.v2_1.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_eccen.v3_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_enorm.v1_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_angle.v2_5.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_varea.v3_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_eccen.v1_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_angle.v3_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_eccen.v2_5.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_sigma.v3_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_varea.v2_5.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_angle.v1_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_varea.v2_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_varea.v2_1.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_eccen.v2_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_eccen.v2_1.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_varea.v1.0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_anorm.v1_0.mgz
include neuropythy/lib/data/fsaverage_sym/surf/lh.benson14_retinotopy.v3_0.sphere.reg
