include neuropythy/lib/nben/target/nben-standalone.jar
include neuropythy/lib/models/standard.fmm.gz
include neuropythy/lib/data/fsaverage_sym/surf/lh.retinotopy.sphere.reg
include neuropythy/lib/data/fsaverage_sym/surf/sym.benson14_angle.mgz
include neuropythy/lib/data/fsaverage_sym/surf/sym.benson14_eccen.mgz
include neuropythy/lib/data/fsaverage_sym/surf/sym.benson14_v123roi.mgz